<div class="container">

  <ul class="nav nav-tabs nav-justified py-1 shadow-sm">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="coming-soon">STORY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="coming-soon">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="coming-soon">CONTACT</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn; else loggedOut">
      <div class="dropdown">
        <button class="nav-link nav-link-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
          {{username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item fa" (click)="userDetails(username)">&#xf2bd; Profile</a>
          <a class="dropdown-item fas" routerLink="coming-soon">&#xf4fe; Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item fas" (click)="logOut()">&#xf35a; Log out</a>
        </div>
      </div>

    </li>
    <ng-template #loggedOut>
    <li >
      <a class="nav-link nav-link-custom" routerLink="login"><i class="fa fa-user mr-1"></i> SIGN IN</a>
    </li>
    </ng-template>
  </ul>

</div>

<br>

<div class="container">
  <div class="p-4 mb-4 rounded">
    <h2 class="text-center h2-title"><strong>Find your soulmate</strong></h2>
  </div>
</div>

<br>

<router-outlet></router-outlet>

<br><br>


<footer class="page-footer font-small unique-color-dark pt-4">

  <div class="container">

    <ul class="list-unstyled list-inline text-center py-2" *ngIf="!isLoggedIn; else loggedIn">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a routerLink="register"  class="btn btn-outline-pink btn-rounded">Sign up!</a>
      </li>
    </ul>
    <ng-template #loggedIn>
      <ul class="list-unstyled list-inline text-center py-2">
        <li>
          <h5 class="mb-1">Welcome</h5>
        </li>
        <li>
          <h6 class="mb-1">Find you match today !</h6>
        </li>
      </ul>
    </ng-template>

  </div>

  <h5>Attributions</h5>
  <a href="https://www.freepngimg.com/png/37323-pink-heart">Pink Heart FreePNGImg.com</a>
  <br>
  sprawa PNG Zaprojektowany przez Tahir Zaman z <a href="https://pngtree.com/">Pngtree.com</a>
  <br>
  <a href="https://www.freepik.com/free-photos-vectors/heart">Heart vector created by rawpixel.com - www.freepik.com</a>

  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.facebook.com/pawel.gonera"> Paweł Gónera</a>
  </div>

</footer>

