.btn-pink {
  color: white;
  line-height: 10px;
  transition: all 0.3s ease 0s;
}

.nav-link:hover{
  color: white;
  background-color: #ec407a;
}

.btn-outline-pink{
  border-radius: 40px;
}

.h2-title{
  color:#e84681;
}

.nav-link-custom{
  color: white;
  background-color:#ec407a;
  border-radius: 40px;
 }

.nav-link{
  color: black;
}
