/* You can add global styles to this file, and also import other style files */
@import "~mdbootstrap/css/mdb.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.card:hover{
  transform: scale(1.1, 1.1);
}

.card {
  transition: 0.6s;
}

html, body { height: 100%; }

