/* You can add global styles to this file, and also import other style files */
@import "~mdbootstrap/css/mdb.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.card:hover{
  transform: scale(1.1, 1.1);
}

.card {
  transition: 0.6s;
}

html{
  height: 100%;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

.container {
  /*min-height:100%;*/
  position:relative;
}
