<div *ngIf="isSubmitted">

<div class="container">

  <div class="row">

    <div class="col-sm-3 shadow-sm">

      <div class="container">

        <form #form="ngForm" (ngSubmit)="onFilter(form, 0, sort)">

          <h3 class="text-center border-bottom">Filters</h3>

          <br>

          <p class="border-bottom"><b>Name</b></p>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="search" class="form-check-input" name="name" ngModel>
            </label>
          </div>

          <br><br>

          <p class="border-bottom"><b>Gender</b></p>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [(ngModel)]="filter.gender" [value]="1" name="gender" ngModel value="MALE"><small>Man</small>
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [(ngModel)]="filter.gender" [value]="2" name="gender" ngModel value="FEMALE"><small>Woman</small>
            </label>
          </div>

          <br><br>

          <p class="border-bottom"><b>Age</b></p>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="filter.ageMin" ngModel min="18" max="75" step="1" name="ageMin">
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="filter.ageMax" ngModel min="18" max="75" step="1" name="ageMax">
            </label>
          </div>

          <p class="border-bottom"><b>Rating</b></p>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="number" class="form-control form-control-sm" ngModel min="1" max="6" step="0.25" name="ratingMin">
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="number" class="form-control form-control-sm" ngModel min="1" max="6" step="0.25" name="ratingMax">
            </label>
          </div>

          <br><br>

          <p class="border-bottom"><b>City</b></p>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="search" class="form-check-input" name="city" ngModel>
            </label>
          </div>

          <br><br>
          <input type="reset" class="btn btn-secondary" value="Reset">
          <button type="submit" class="btn btn-success">Apply</button>
          <br><br>

        </form>

      </div><!-- end of container -->

    </div><!-- end of col-sm-3 -->

    <div class="col-sm-9">

      <div class="container">

        <div class="container">
          <form #sort="ngForm" (change)="onFilter(form, 0, sort)">
            <label for="select-picker"><b>Sort by</b></label>
            <br>
              <select id="select-picker" class="browser-default custom-select fas" ngModel name="select">
                <option disabled selected class="fa">Sort by</option>
                <option value="Asc-name" class="fa">&#xf15d; First Name</option>
                <option value="Desc-name" class="fa">&#xf15e; First Name </option>
                <option value="Asc-age" class="fa">&#xf162; Age</option>
                <option value="Desc-age" class="fa">&#xf163; Age</option>
                <option value="Asc-rating" class="fa">&#xf162; Rating</option>
                <option value="Desc-rating" class="fa">&#xf163; Rating</option>
              </select>
          </form>
        </div>
          <hr>

          <br><br>

        <div class="row" *ngIf="pageUser?.content">

          <!--<div class="col-sm-4" *ngFor="let user of users | async">-->
          <div class="col-sm-4" *ngFor="let user of pageUser.content">
            <a (click)="userDetails(user.username)">
              <div class="card shadow animated">
               <img class="card-img-top" src="data:image/png;base64,{{user.personalDetails.photo}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{user.firstName}}</h5>
                  <p>{{user.personalDetails.age}} years old, {{user.personalDetails.city}}</p>
                  <small>{{user.appearance.about}}</small>
                  <p class="text-right">Rating:<b> {{user.personalDetails.rating | number: '1.1-1'}}</b></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </a>
          </div>

        </div>

      </div><!-- end of container -->


      <nav aria-label="...">
        <ul style="margin-left: 200px;margin-top:50px;" class="pagination"  *ngIf="pageUser?.content" >
          <li *ngFor="let page of ' '.repeat(pageUser.totalPages).split(''), let i = index " (click)="onFilter(form, i, sort)" [class.active]="i === selectedPage" class="page-item"><a class="page-link" (click)="onFilter(form, i, sort)">{{i+1}}</a></li>
        </ul>
      </nav>

    </div><!-- end of col-sm-9 -->

  </div><!-- end of row -->

</div><!-- end of container main -->

</div><!-- end of ngIf -->




<div *ngIf="!isSubmitted">

  <div class="container">

    <div class="row">

      <div class="col-sm-3 shadow-sm">

        <div class="container">

          <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <p class="border-bottom"><b>I'm Looking for</b></p>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" ngModel value="FEMALE"><small>Woman</small>
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" ngModel value="MALE"><small>Man</small>
              </label>
            </div>

            <br><br>

            <p class="border-bottom"><b>Between</b></p>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="number" class="form-control form-control-sm" ngModel min="18" max="75" step="1" name="ageMin">
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="number" class="form-control form-control-sm" ngModel min="18" max="75" step="1" name="ageMax">
              </label>
            </div>

            <br><br>

            <p class="border-bottom"><b>In</b></p>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="search" class="form-check-input" name="city" ngModel>
              </label>
            </div>

            <br><br>

            <button type="submit" class="btn btn-pink btn-block">Find your match</button>
          </form>

        </div>

      </div>

      <div class="col-sm-9">

        <div class="container">

          <div class="container">
            <img src="https://www.youngisthan.in/wp-content/uploads/2018/02/dating.jpg" class="mx-auto d-block" style="width:100%" alt="">
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

