
.page-link{
  color: pink;
}

.custom-select{
  width: 150px;
}

.custom-search{
  width: 300px;
}

.btn-custom{
  background: #fe4182;
  color: white;
}

.custom-option:hover{
  background: #fe4182;
}

.example-full-width{
  width: 250px;
}
.custom-width{
  width: 50px;
}
